p {
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    /* text-decoration: underline; */
    color: rgb(115, 161, 45);
    background-color: rgb(218, 218, 4);
    text-shadow: 1px 1px 1px black;  
    border-style: solid;
    border-width: 3px;
}